.Crew-data {
  width: 100%;
  padding: 39px 30px 21px;
}

.crew-tab {
  width: 122px;
  background: #ffffff;
  border-radius: 12px 12px 0px 0px;
  padding: 6px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #303133;
}
.mr-5 {
  margin-right: 5px;
}

.mr-30 {
  margin-right: 30px;
}

.Crew-data-header {
  width: 100%;
  height: 164px;
  background: #ffffff;
}

.crew-breadcrump {
  padding: 16px 20px;
  display: flex;
  column-gap: 5px;
  vertical-align: middle;
  align-items: center;
}

.breadcrump-title,
.breadcrump-title1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #303133;
  background: #ebedf0;
  padding: 5px 8px 8px;
  border-radius: 6px 0px 0px 6px;
}

.breadcrump-title1 {
  border-radius: 0px;
}

.crew-data-h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 28px;
  margin: 46px 20px;
  color: #303133;
}

.crew-btn-container {
  float: right;
  display: flex;
  margin-top: -60px;
  column-gap: 10px;
}

.crew-data-form {
  margin-top: 88px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
}

.form-h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 25px;
  color: #303133;
}

.form-hr {
  max-width: 1016.5px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.crew-form-input {
  margin-top: 11px;
  padding: 5.5px 12px;
  height: 32px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  margin-left: 6px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  padding: 5px 16px;
  background: #1c3879;
  border-radius: 4px;
}
