body {
  background: #f4f5f8;
  box-sizing: border-box;
}

.sidebar {
  display: inline-block;
  min-width: 266px;
  min-height: 100vh;
  background: #ffffff;
  padding-bottom: 30px;
}

.sidebar-brand {
  padding-top: 31px;
  text-align: center;
}

.sidebar-nav {
  font-family: "Roboto";
  font-style: normal;
  padding: 21px 20px 0;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link:hover {
  background: #1c3879;
  border-radius: 10px;
  color: #fff;
}

.nav-link {
  border-radius: 10px;
  padding: 12px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #303133;
}

.dropdown-nav-item {
  margin-bottom: 10px;
  padding: 0 0 0 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #303133;
}

.dropdown-nav-link {
  padding: 12px;
}

.drop-icon {
  color: #303133;
  font-size: 12px;
}

.btn {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #303133;
  padding: 12px 12px 12px 0;
  cursor: pointer;
  border: none;
  position: relative;
}
.sub-btn {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #303133;
  background-color: #fff;
  padding: 12px 12px 12px 6px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  position: relative;
}

.drop-icon {
  padding-top: 7px;
}

.dropdown {
  display: none;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}

.dropdown a {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  align-items: center;
  text-decoration: none;
  color: black;
}

.sub-dropdown {
  margin-left: 12px;
}

.sub-drop-nav-link {
  width: inherit;
  margin-left: -10px;
  padding: 13px 41px 13px 31px;
  text-align: center;
}

.sub-drop-nav-link:hover {
  background: #1c3879;
  font-weight: 700;
  border-radius: 10px;
  color: #ffffff;
}

.show {
  display: block;
  opacity: 1;
  transform: translateY(0rem);
}
.font-700 {
  font-weight: 700;
  background: #f4f5f8;
  border-radius: 10px;
}
.sub-btn-icon {
  width: 20px;
}

.sub-dropdown-nav-item {
  background: #f4f5f8;
  border-radius: 10px;
}

.sub-dropdown-nav-item .show .sub-btn {
  background: #f4f5f8;
  border-radius: 10px;
}

.arrow {
  margin-top: 7px;
  transform: rotate(180deg);
  transition: 0.2s ease;
}

.dropdownHeader {
  width: 230px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 12px 12px 12px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #303133;
}
.dropdownList {
  list-style-type: none;
}

.hoverefect:hover {
  font-weight: 700;
  background: #1c3879;
  border-radius: 10px;
  color: #fff;
}

.activeDropdown {
  font-weight: 700;
  background: red;
}
