body{
    background: #F4F5F8;
}

.sidebar{
    width: 266px;
    min-height: 100vh;
    max-height: 1024px;
    background: #FFFFFF;
}

.sidebar-brand{
    padding-top: 31px;
    text-align: center;
}

.sidebar-nav{
    font-family: 'Roboto';
    font-style: normal;
    padding:21px 20px 0;
}

.nav-item{
    margin-bottom: 10px;
}

.nav-item:hover{
    background: #1C3879;
    border-radius: 10px;
    color: #fff;
}

.nav-link,.dropdown-nav-item{
    padding: 12px 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #303133;
}

.dropdown-nav-item{
    padding-bottom: 0;
    margin-left: 12px;
    margin-bottom: 10px;
}

.btn {
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #303133;
    padding: 0;
    cursor: pointer;
    border: none;
    position: relative;
  }

  .drop-icon{
    padding-top: 4px;
  }
  
  .dropdown {
    display: none;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  }
  
  .dropdown a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }
  
  .show {
    display: block;
    opacity: 1;
    transform: translateY(0rem);
  }
  
  .arrow {
    margin-top: 5px;
    transform: rotate(180deg);
    transition: 0.2s ease;
  }
  
  .dropdown-nav-item{
    padding: 12px;
  }